@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    background-color: beige;
    color: black;
    justify-content: center;
}

#login-form { 
    display: inline-block;
    border-color: black;
    background-color: darkgray;
    font-size: 26px;
    align-items: center;
}
input{
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
}
button{
    background-color: red;
    border-radius: 5px;
    font-size: 20px;
    align-items: center;
}