@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    background-color: ghostwhite;
    color: black;
}

#login-form {
    display: inline-block;
    border-color: black;
    background-color: bisque;
}